
	body{
	background-color:  #189AB4;
	font-weight:100;
	color: burlywood;
	font-size: 20px;
	}
	.pic{
		width:1900px;
		height:300px;
	}
	.btn {
  	position: relative;
  	width: 150px;
  	top: -400px;
  	left: 900px;
 	height: 50px;
  	padding: 5px 5px 5px 5px;
  	font-size:20px;
	background-color: #05445E;
    color: #D4F1F4;
 
	}
	input[type="text"] {
	height: 30px;
	width: 200px;

	}
	.calculator{
	position:relative;
	border-radius: 5px;
	border: solid gray 1px;
	width: 20%;
	border-radius: 3px;
	background: white;
	padding: 10px;
	margin: 15px 2px 2px 2px;
	top: -550px;
	left: 1200px;
	}
	input[type="button"] 
		{ 
		background-color:#05445E; 
		color: #D4F1F4;
		border: solid black 2px; 
		width:90px;
		height: 30px;
		} 

		input[type="text"] 
		{ 
		background-color:white; 
		border: solid black 2px; 
		width:98%;
		height: 40px; 
		} 
	
	.legend{
    font-size: 25px;
    background-color:#05445E;
    color: white;
}
	.main_wrapper {
	position: relative;
	width: 1819px;
	height: 240px;
	}
	.orderdetails{
	position: relative;
	border-width: 0;
	border-radius: 5px;
	border: solid gray 2px;
	width: 35%;
	border-radius: 3px;
	background: white;
	margin: 2px 2px 2px 2px;
	height: 780px;
	top: -250px;
	left: 350px;
	}
	.orderdiscount {	
	position: relative;
	border-width: 0;
	border-radius: 5px;
	border: solid gray 2px;
	width: 30%;
	border-radius: 3px;
	background: white;
	margin: 2px 2px 2px 20px;
	padding-left: 20px;
	top: 100px;
	left: 1000px;
	}	
	.legend{
		padding-left: 0px;
		width: 80%;
	}

	
	.computation {
  	position: relative;
  	width: 100px;
  	top: 470px;
  	left: 120px;
 	height: 20px;
  	padding: 5px 5px 5px 5px;
  	font-size:10px;
	background-color: #05445E;
    color: #D4F1F4;
 
	}
	.gallery{
 	display: flex;
  	width: 1300px;
  	margin: auto;
  	justify-content: space-between;
  	flex-wrap: wrap;
  	position: relative;
  	left: 10px;
  	top: 50px;
	}

	figure{
  	width: 200px;
  	margin: 8px 0;
  	border: 1px solid #777;
  	padding: 8px;
  	box-sizing: border-box;
  	background-color: #fff;
	}
	figure img{
  	width: 100%;
  	height: 100px
  	box-shadow: 5px 10px 8px #888888;
	}
	label  {
  	text-align:center;
  	padding: 4px 4px 4px 30px;
	}

	table td {
		font-size: 20px;
	}
